@import "../base/reset";
@import "../abstracts/variables";
@import "../base/typography";

footer {
  padding: 65px 0 42px;
  background-color: $dark-blue;
  color: $white;
  font-family: "Open Sans", sans-serif;

  .footer-container {
    .logo {
      margin: 0 0 0 39px;
      width: 105px;
      height: 30px;
    }

    .search-content {
      margin: 32px 0 0;

      .box-1 {
        margin: 0 0 0 39px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .flex-1,
        .flex-2 {
          display: flex;
          align-items: center;
          gap: 16px;

          p {
            margin: 0;
          }
        }

        .flex-1 {
          img {
            width: 18px;
            height: 18px;
          }
        }

        .flex-2 {
          img {
            width: 20px;
            height: 16px;
          }
        }
      }

      .box-2 {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 32px 0 0 39px;

        a {
          text-decoration: none;
          cursor: auto;

          p {
            color: $white;
            margin: 0;
            display: inline-block;
            cursor: pointer;

            &:hover {
              color: $less-sky;
            }
          }
        }
      }

      .box-3 {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 32.5px 0 0 39px;

        a {
          text-decoration: none;
          cursor: auto;

          p {
            color: $white;
            margin: 0;
            display: inline-block;
            cursor: pointer;

            &:hover {
              color: $less-sky;
            }
          }
        }
      }

      .box-4 {
        display: flex;
        justify-content: center;
        gap: 10.82px;
        margin: 32px 0 0;

        .social-1,
        .social-2,
        .social-3 {
          border: 0.8px solid $middle-white;
          border-radius: 50%;
          width: 27px;
          height: 27px;
        }

        .social-1 {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            max-width: 12.73px;
            max-height: 12.71px;
          }
        }

        .social-2 {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            max-width: 12.73px;
            max-height: 12.71px;
          }
        }

        .social-3 {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            max-width: 12.73px;
            max-height: 12.71px;
          }
        }

        .social-1:hover,
        .social-2:hover,
        .social-3:hover {
          cursor: pointer;
        }
      }
    }
  }
}

//media for footer
@media (min-width: 1440px) {
  footer {
    padding: 92px 261px 86px 80px;

    .footer-container {
      .logo {
        width: 135px;
        height: 39px;
        margin: 0;
      }

      .search-content {
        margin: 37px 0 0;
        display: flex;

        .box-1,
        .box-2,
        .box-3,
        .box-4 {
          margin: 0;
        }

        .box-2 {
          margin: 0 0 0 222px;
        }

        .box-3 {
          margin: 0 0 0 200px;
        }

        .box-4 {
          margin: 0 0 0 185px;
        }
      }
    }
  }
}
