@import "../base/reset";
@import "../abstracts/variables";
@import "../base/typography";
@import "../abstracts/mixins";

button {
  font-family: "Raleway", sans-serif;
  background-color: $sky;
  color: $white;
  border: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}