$dark-blue: #07043b;
$less-dark-blue: #575988;
$gray: #c2c2c2;
$red: #F00;
$sky: #2f65f8;
$less-sky: #6c9bff;
$white: #FFF;
$middle-white: #dfe4f0;
$near-white: #f8f8fe;
$green-like: #3da08f;
$light-green: #71dfcc;